*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.head{
    display: flex;
    background-color: #000;
    margin: auto auto;
    padding: 5px;

}
.title{
    color: #fff;
    margin: 0 20px;
    flex-grow: 1;
    text-align: center;
}
.a{
    
    margin: auto 10px;
    flex-grow: 1;
}
a{
    text-decoration-line: none;
    margin: auto 10px;
    color: #fffb00;
}
main{
    display: flex;
    text-align: center;
    height: 600px;
    border:2px solid #000;
}
.main{
    margin: auto;
}
footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top:650px;
    background-color: #000;
    color: #fffb00;
    text-align: center;
}
h5{
   margin: 10px;
}